# NOTE: `cron` may not be able to inherit your environment variable.
#       So, please make sure that $PATH

# GCP_PROJECT_ID=...
# PATH=...

# Please set BQ_DATASET_ID and BQ_TABLE_ID to values what you want
BQ_DATASET_ID=...
BQ_TABLE_ID=...
SCHEMA="pubsub_timestamp:string,message:string"
00 12 * * * PARTITION_DATE=$(date +\%Y\%m\%d) ;  bq mk --project_id=$GSP_PROJECT_ID --time_partitioning_type="DAY" --schema $SCHEMA "${BQ_DATASET_ID}.${BQ_TABLE_ID}_${PARTITION_DATE}"
